<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>read row</title>
</head>
<body>
    <h1>Выбери ID</h1>
<form method="POST" action="/choose">
    <label for="ID">ID:</label>
    <input type="text" name="ID" pattern="[0-9]+" required><br>

    <input type="submit" value="Найти">


     {% if user %}
        <p>ID: {{ user.phone_ID }}</p>
        <p>Имя: {{ user.contact_name }}</p>
        <p>Номер телефона: {{ user.phone_value }}</p>
    {% elif error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

</form>
</body>
</html>