<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>delete</title>
</head>
<body>
    <h1>Выбери ID</h1>
<form method="POST" action="/delete">
    <label for="ID">ID:</label>
    <input type="text" id="ID" name="ID" pattern="[0-9]+" required><br>

    <input type="submit" value="Удалить">
</form>

{% if status %}
<p>{{status}}</p>
{% endif %}

</body>
</html>