<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update</title>
</head>
<body>

<form method="POST" action="/update">
     <h1>Выбери ID</h1>
    <label>ID:</label>
    <input type="text" name="ID" pattern="[0-9]+" required><br>



    <h1>Внеси изменения</h1>

    <label>Новое имя:</label>
    <input type="text" name="name_update"><br>
    <label>Новый номер:</label>
    <input type="text" name="telephone_update" pattern="[0-9]+"><br>



    <br>
    <input type="submit" value="Изменить">


</form>


</body>
</html>